<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	">
    <import resource="classpath:uflo-console-context.xml" />


    <bean id="propertyConfigurer" parent="uflo.props">
        <property name="location">
            <value>classpath:application.properties</value>
        </property>
    </bean>

    <bean class="com.eshare.provider.DefaultEnvironmentProvider">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="platformTransactionManager" ref="transactionManager" />


    </bean>


    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>


    <bean id="dataSource" class="org.h2.jdbcx.JdbcConnectionPool"
          destroy-method="dispose">
        <constructor-arg>
            <bean class="org.h2.jdbcx.JdbcDataSource">
                <!-- 内存模式 -->
                <property name="URL" value="jdbc:h2:mem:test" />
                <!-- 文件模式 -->
                <!-- <property name="URL" value="jdbc:h2:testRestDB" /> -->
                <property name="user" value="sa" />
                <property name="password" value="sa" />
            </bean>
        </constructor-arg>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
            <list>
                <value>com.bstek.uflo.model</value>
                <value>poc.model</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.jdbc.batch_size">100</prop>
            </props>
        </property>
    </bean>
</beans>