<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common_head::commonHeader('JarsLink模块化实战Demo')"/>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">场景列表</a>
</nav>
<div class="container">
    <h2 class="text-center">JarsLink实战场景演示</h2>
    <table class="table">
        <thead>
        <tr>
            <th>序号</th>
            <th>场景</th>
            <th>链接</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>工作流业务特性逻辑动态处理</td>
            <td><a href="/workflow/index">进入演示场景</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>在线切换缓存</td>
            <td><a href="/cache/index">进入演示场景</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script>
</script>
</html>